<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Notre Animal</title>
    <link rel="stylesheet" href="animal.css">
</head>
<body>
    <div class="main en-colonne">
        <header class="fond-vert bords-arrondis">
            <h1 class="border-arrondi">Le Panda Géant</h1>
        </header>
        <section class="animal-info en-ligne">
            <img src="./ressources/panda.webp" alt="Photo d'un panda géant" class="animal-photo  bords-arrondis bords-verts taille-50">
            <p class="animal-description border-arrondi taille-50">Le panda géant est une espèce emblématique caractérisée par son pelage noir et blanc unique et son allure paisible. Originaire des forêts de bambous des montagnes du centre de la Chine, ce mammifère est principalement herbivore, se nourrissant presque exclusivement de bambou, bien qu'il puisse occasionnellement consommer d'autres plantes ou petits animaux. Malgré sa classification dans l'ordre des carnivores, le panda géant a un régime alimentaire qui se compose à plus de 99% de bambou.</p>
        </section>
        <footer>
            <div class="environment-banner fond-bleu-ciel bords-arrondis">
                <img src="./ressources/foret_bambou.jpg" alt="" class="environnement">
            </div>
        </footer>
    </div>
</body>
</html>
